@font-face {
    font-family: "RobotoFlex";
    src: url('../assets/fonts/RobotoFlex-Regular.ttf') format("woff2"),
    url('../assets/fonts/RobotoFlex-Regular.ttf') format("ttf")
}

@font-face {
    font-family: "InterRegular";
    src: url('../assets/fonts/Inter-Regular.ttf') format("ttf");
}

$light-blue: rgba(0, 210, 237, 1);
$dark-blue: rgba(33, 30, 170, 1);
$dark-gray:rgba(43, 43, 43, 1);


body {
    color: white;
    background-color: black;
    font-family: InterRegular;
}


.header {
    position: sticky;
    margin: auto;
    max-width: 1000px;

    height: 78px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 0px 0px 20px 20px;
    padding: 0px 220px 0px 80px;
    
    background-color: $dark-gray;

    .header__item {
        text-decoration: none;
        color: white;
    }
    .header__item:hover {
        color: $light-blue;
    }

    .header__logo {
        width: 60px;
        height: 60px;
    }
    .header__logo:hover {
        cursor: pointer;
    }
        
}

.logo-zone {
    h1 {
        font-family: InterRegular;
        font-size: 300px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 39px;
        width: 100vw;
        text-align: center;
    }
}


.text_background_highlighted {
    color: white;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: $dark-gray;

    img {
        max-height: 10px;
        margin-right: 2px;
    }
}


.wrapper {
    display: flex;
    flex-direction: column;

    margin: auto;
    max-width: 1000px;
    gap: 50px;
}


.message {
    display: flex;
    position: relative;
    flex-direction: column;

    .message__title {
        display: block;
        width: max-content;
        position: relative;

        padding: 10px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background: #211EAA;
        margin-bottom: -10px;
        margin-left: 20px;

    }

    .message__desctiption {
        display: block;
        padding: 20px 26px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: #FFF;
        color: black;
    }

    .message__logo {
        position: absolute;
        top: 10px; left: -90px;
        width: 70px; height: 70px;
    }

}