@import "./blocks/text_format";
@import "./blocks/snow_effect";
@import "./blocks/header";
@import "./blocks/message";
@import "./blocks/footer";
@import "./blocks/page_about";


@font-face {
    font-family: "RobotoFlexRegular";
    src: url(../assets/fonts/RobotoFlex-Regular.ttf);
}

@font-face {
    font-family: "InterRegular"; //400 px
    src: url(../assets/fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: "InterBold"; //400 px
    src: url(../assets/fonts/Inter-Bold.ttf);
}

:root {
    --panel-bg-color: #2f3542;
    --container-bg-color: #57606f;
    --text-color: white;

    --page-bg-color: #151818;

    --invert-index: 0;
}

:root[theme='white'] {
    --panel-bg-color: #dfe4ea;
    --container-bg-color: #f1f2f6;
    --text-color: black;

    --main-color: ;
    --opposite-color: ;

    --page-bg-color: white;
    --invert-index: 1;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    filter: invert(var(--invert-index));
    font-family: InterRegular;
    color: var(--text-color);
    background-color: var(--page-bg-color);
}

main {    
    display: block;
    gap: 50px;
    margin: auto;
    max-width: 1000px;

    color-scheme: dark; // from snow format
}


.glowing-effect {
    z-index: 9;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px -64px 77px -29px rgba(0, 221, 255, 0.31) inset;
    -moz-box-shadow: 0px -64px 77px -29px rgba(0, 221, 255, 0.31) inset;
    box-shadow: 0px -64px 77px -29px rgba(0, 221, 255, 0.31) inset;
}