body {
    color: white;
    background-color: black;
    font-family: "Roboto Flex", serif;
}


.emoji img {}

.background_highlighted {}

.place {
    background-color: rgba(43, 43, 43, 1);
    color: white;
    border-radius: 5px;
    padding: 2px 4px;
}

.place img {
    max-height: 10px;
    margin-right: 2px;
}