footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;

    .footer__inner-container {
        display: flex;
        flex-direction: row;
    }

    .footer__text-container {
        display: flex;
        flex-direction: column;
    }

    .footer__logo-container {
        filter: invert(var(--invert-index));
        display: flex;
        flex-direction: column;
    }
}